body {
    background: #273871;
    font: normal 20pt Yu Gothic Light;
}

header {
    color: rgb(65, 30, 30);
    text-align: center;
}

section {
    background: whitesmoke;
    border-radius: 5px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.41);
}

footer {
    color: whitesmoke;
    text-align: center;
    font-style: normal;
}