body {
  background-color: #0A0A0A;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  min-height: 100%;  
}
.ajuda-cartorio-colorado-central {
  top: 25px;
  left: 5%;
  width: 50%;
  display: flex;
  position: absolute;
  align-items: flex-end;
}
.ajuda-cartorio-colorado-logo-home {
  width: 175px;
  height: 40px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  flex-direction: row;
  justify-content: flex-start;
}
.ajuda-cartorio-colorado-line {
  border-radius: 30%;
  border: 1px solid #5F5F5F;
  width: 40px;
  margin: 1px 26px 19px 1px;
  transform: rotate(90deg);
}
.ajuda-cartorio-colorado-central-home {
  color: #FFFFFF;
  font-style: 'bold';
  margin-bottom: 0;
  font-family: 'Sora', sans-serif;
}
.ajuda-cartorio-colorado-entrar-conosco {
  top: 27px;
  left: 80%;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.ajuda-cartorio-colorado-entrar {
  display: flex;
  padding: 8px 24px;
  position: relative;
  align-items: center;
  margin-right: 16px;
  justify-content: center;
}
.ajuda-cartorio-colorado-entrar span {
  color: #53c1b7;
  text-align: center;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
}
.ajuda-cartorio-colorado-fale-conosco {
  display: flex;
  padding: 8px 24px;
  position: relative;
  border-color: transparent;
  border-radius: 100px;
  justify-content: center;
  background-color: var(--dl-color-linear-azul);
  background-image: linear-gradient(180deg, #53c1b7 0%, #0097bc 100%);
}
.ajuda-cartorio-colorado-fale-conosco span {
  color: #ffffff;
  text-align: center;
  font-family: 'Sora', sans-serif;
  font-weight: 500;
}
.ajuda-cartorio-colorado-rectangle {
  top: 88px;
  position: relative;
  background-color: #161616;
  height: 400px;
  text-align: right;
}
.ajuda-cartorio-colorado-rectangle img {
  height: 100%;
}
.ajuda-cartorio-colorado-search-area {
  top: 35%;
  left: 10%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  width: 40%;
  height: 40%;
}
.ajuda-cartorio-colorado-text {
  color: #ffffff;
  font-size: 32px;
  text-align: left;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
}
.ajuda-cartorio-colorado-search-box {
  display: flex;
  position: relative;
  align-items: center;
  width: 50%;
  height: 50%;
  padding-top: 15px;
}
.ajuda-cartorio-colorado-search-box form input {
  color: #FFFFFF;
  font-size: 20px;
  width: 500px;
  height: 45px;
  background: #5F5F5F;
  border-radius: 32px;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  border-color: transparent;
}
.main-body-content {
  display: flex;
  flex-direction: column;
}
.ajuda-cartorio-colorado-categories {
  top: 150px;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  height: 280px;
}
.ajuda-cartorio-colorado-frame184 {
  background-color: #161616;
  border-radius: 4px;
  width: 30%;
  height: 100%;
  text-align: center;
  /* display: flex; */
  /* padding: 48px 24px; */
  /* position: relative; */
  /* align-items: flex-start; */
  /* margin-right: 32px; */
  /* flex-direction: column; */
}
.ajuda-cartorio-colorado-text69 {
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 700;
}
.ajuda-cartorio-colorado-frame190 {
  background-color: #161616;
  border-radius: 4px;
  width: 30%;
  height: 100%;
  text-align: center;
  /* display: flex; */
  /* padding: 48px 24px; */
  /* position: relative; */
  /* align-items: flex-start; */
  /* margin-right: 32px; */
  /* flex-direction: column; */
}
.ajuda-cartorio-colorado-text71 {
  font-size: 18px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 700;
}
.ajuda-cartorio-colorado-text51 {
  top: 100%;
  left: 115px;
  color: #ffffff;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  line-height: 112.00000047683716%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.ajuda-cartorio-colorado-text04 {
  top: 105%;
  left: 115px;
  width: 381px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: underline;
}
.ajuda-cartorio-colorado-text49 {
  top: 100%;
  left: 528px;
  color: #ffffff;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: 'Bold';
  text-align: left;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  line-height: 112.00000047683716%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.ajuda-cartorio-colorado-text19 {
  top: 105%;
  left: 528px;
  color: var(--dl-color-gray-white);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.ajuda-cartorio-colorado-text53 {
  top: 100%;
  left: 944px;
  color: #ffffff;
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: 'Sora', sans-serif;
  font-weight: 700;
  line-height: 112.00000047683716%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.ajuda-cartorio-colorado-text34 {
  top: 105%;
  left: 944px;
  color: var(--dl-color-gray-white);
  width: 384px;
  height: auto;
  position: absolute;
  font-size: 16px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.ajuda-cartorio-colorado-footer {
  background-color: #161616;
  /* width: 100%; */
  height: 150px;
  position: relative;
  bottom: 0;
  top: 550px;
}
.ajuda-cartorio-colorado-acompanhe-redes {
  position: relative;
  left: 60%;
  top: 50px;
  /* top: 57px; */
  /* display: flex; */
  /* justify-content: space-evenly; */
  /* height: 280px; */
  /* height: 18px; */
  /* width: 95px; */
}
.ajuda-cartorio-colorado-camadax00201 {
  top: 56px;
  left: 354px;
  width: 40.758941650390625px;
  height: 43.902435302734375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ajuda-cartorio-colorado-frame1181325952368 {
  top: 0px;
  left: 0px;
  width: 40.758941650390625px;
  height: 43.902435302734375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ajuda-cartorio-colorado-group {
  top: 0px;
  left: 0px;
  width: 40.758941650390625px;
  height: 43.902435302734375px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.ajuda-cartorio-colorado-vector03 {
  top: 33.602256774902344px;
  left: 0px;
  width: 41px;
  height: 10px;
  position: absolute;
}
.ajuda-cartorio-colorado-vector04 {
  top: 0px;
  left: 17.67120361328125px;
  width: 16px;
  height: 21px;
  position: absolute;
}
.ajuda-cartorio-colorado-vector05 {
  top: 0px;
  left: 0px;
  width: 29px;
  height: 44px;
  position: absolute;
}
.ajuda-cartorio-colorado-text57 {
  top: 56px;
  left: 421px;
  color: #ffffff;
  width: 660px;
  height: auto;
  opacity: 0.80;
  position: absolute;
  font-size: 14px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: 'Encode Sans', sans-serif;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.ajuda-cartorio-colorado-text58 {
  font-weight: 700;
  font-style: 'bold';
}