body {
  background-color: #0A0A0A;
}

.artigos {
  margin-top: 400px;
}

.main-banner {
  position: absolute;
  width: 1920px;
  height: 300px;
  left: calc(50% - 1920px/2 - 6px);
  top: 88px;  
  background-color: #161616;  
}

.row-kb-header {
  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  position: absolute;
  width: 792px;
  height: 116px;
  left: calc(50% - 792px/2 - 212px);
  top: 180px;
}

.question {
  /* Olá, como podemos ajudar você? */
  width: 792px;
  height: 36px;
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 112%;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.widget-search {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 170px 16px 16px;
  gap: 8px;

  width: 504px;
  height: 56px;

  /* Gray/Medium */
  background: #5F5F5F;
  border-radius: 32px;

  /* Inside auto layout */
  /* flex: none;
  order: 1;
  flex-grow: 0; */

}

.input-mv-new {
  /* Busque sua pergunta ou palavra chave aqui */
  width: 306px;
  height: 20px;
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;

  /* Gray / White */
  color: #FFFFFF;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.widget-search {
  /* search */

  width: 24px;
  height: 24px;


  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;


  /* Vector */

  position: absolute;
  left: 12.5%;
  right: 20.83%;
  top: 12.5%;
  bottom: 20.83%;

  /* Gray / White */
  border: 2px solid #FFFFFF;  
}

.input-mv-new {  
  /* Busque sua pergunta ou palavra chave aqui */
  
  width: 306px;
  height: 20px;
  
  font-family: 'Encode Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  display: flex;
  align-items: center;
  
  /* Gray / White */
  color: #FFFFFF;
  
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

}
